    body
    {
        margin: 0px;
        background-image: linear-gradient(279deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
        font-family: 'Muli', 'Open Sans', sans-serif;
    }
    .header 
    {
        /*background-color: #21C08B;
        background-image: linear-gradient(45deg, #21C08B, #FFFB7D 100%);*/
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

        width: 100%;
        height: 80 px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__img 
    {
        width: 200px;
        margin-top: 10px;
        margin-left: 10px;
     }
     .login
     {
         background: linear-gradient(#784BA0, #FF3CAC) ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 30px;
        min-height: calc(100vh-200px); /* view high es una medida relativa similar al porcentaje, se basa en el porcentaje que el usuario ve en la pantalla, el 200 para exceptuar el head y footer*/
     }
     .login__container
     {
         background-color: rgba(255, 255, 255, 0.1); /* el color debe escribirse en número porque sino no agarra la opacidad*/
         border: 2px solid white;
         border-radius: 40px;
         color: white;
         padding: 60px 68px 40px;
         min-height: 700px; /*este estilo hizo que se alargara el section del login*/
         width: 300px; /*para que no cambie esta medida*/
        display: flex;
        justify-content: space-around;
        flex-direction: column;
     }

    .login__container--form
    {
        display: flex;
        flex-direction: column;

    }
    .login__container--form label
    {
        font-size: 14px;
    }
    .login__container--remember-me
    {
        color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .login__container--remember-me a
    {
        color: white;
        font-size: 14px;
        text-decoration: none;
    }
    .login__container--remember-me a:hover
    {
        text-decoration: underline;
    }
    .login__container--social-media > div /* '>' estiliza todos estos div que están en el section*/
    {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .login__container--social-media > div >img /* '>' estiliza todos los img que están en el div y que están en el section */
    {
        width: 30px;
        margin-right: 10px;
    }
    .login__container--register
    {
        font-size: 14px;
    }
    .login__container--register a
    {
        font-size: 16px;
        color: white;
        font-weight: bold; /*pone en negrita la palabra*/
        text-decoration: none;
    }
    .login__container--register a:hover
    {
        text-decoration: underline;
    }
    .input
    {
        background-color: transparent;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 2px solid white;
        font-family: 'Muli', 'Open Sans', sans-serif;
        margin-bottom: 20px;
        padding: 0px 20px;
        height: 50px;
    }
    ::placeholder
    {
        color:white ;
    }
    .button
    {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 25px;
        color: white;
        cursor: pointer; /*para que aparezca la manita*/
        font-family: 'Muli', 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        height: 50px;
        letter-spacing: 1px;
        margin: 10px 0px;

    }
    .footer
    {
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
        background: #FF3CAC;
    }
    .footer a
    {
        color: white;
        cursor: pointer;
        font-size: 14px;        
        padding-left: 30px;
        text-decoration: none;
    }
    .footer a:hover
    {
        text-decoration: underline;
    }
    @media only screen and (max-width: 600px)
    {
        .login__container
        {
            background-color: transparent;
            border: none;
            padding: 0px;
            width: 100%;
        }
        .footer{
            align-items: flex-start;
            flex-direction: column;
        }
    }